* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 60px 50px;
  text-align: center;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #1e293b;
  border-radius: 5px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
